*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}
:root{
  --white: #fff;
  --wht: #fff;
  --black: #000;
  --pink: #E01661;
  --bg: #F7F7F7;
  --grey1: #484848;
}